.heading {
    color: darkblue;
    font-size: 15px;
    transition-property: font-size;
    transition-delay: 1s;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.heading:hover {
    color: green;
    font-size: 20px;
    letter-spacing: 10px;
}